
/************************************************\
==================================================
1. Font
2. Navbar
3. Citation
4. Footer
5. Form
==================================================
\************************************************/

/************************************************\
==================================================
1. Font
==================================================
\************************************************/

@font-face {
  font-family: 'Folkard';
  src: url('/fonts/folkard_.ttf');
}

.kaamelott-font {
  font-family: 'Folkard';
}

/************************************************\
==================================================
2. Navbar
==================================================
\************************************************/

nav.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

nav.navbar img {
  width: 35px;
  margin-top: -10px;
}

/************************************************\
==================================================
3. Citation
==================================================
\************************************************/

.kaamelott-underline {
  border-bottom: solid 5px #a57824;
}

.kaamelott-banner {
  background-image: url('/img/kaamelott-banner.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  height: 235px;
}

.kaamelott-banner .frame {
  margin-top: 0;
  padding-left: 10%;
  padding-top: 5%;
}

#citations {
    margin-top: 15px;
}

p.source {
  text-align: right;
}

.quote {
  height: 150px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
}

.quote .hider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(0deg, #fff, transparent);
}

.thumbnail .img-box {
  max-height: 200px;
  overflow: hidden;
}

.thumbnail .img-box img {
  width: 100%;
}

.thumbnail {
  height: 420px;
  max-width: 500px;
  margin: auto;
  margin-bottom: 15px;
}

.thumbnail blockquote {
  padding: 10px;
  border-left: none;
}

blockquote {
  border-left: 5px solid #a57824;
}

.item-actions {
  text-align: right;
  padding: 0 5px;
}

.btn.btn-kaamelott {
  background-color: #a57824;
  color: white;
}

.btn.btn-kaamelott:hover {
  background-color: #996f21;
}

#model {
  display: none;
}

/************************************************\
==================================================
4. Footer
==================================================
\************************************************/

footer {
  text-align: center;
}

footer i.fa {
  font-size: 3rem;
  margin: 10px;
}

/************************************************\
==================================================
5. Form
==================================================
\************************************************/

.container form {
  margin-bottom: 20px;
  margin-top: 20px;
}